<div class="header-big  post-top css-color mb-4" id="search-bg" style="">
    <div class="s-search">
        <div id="search" class="s-search mx-auto">
            <div id="search-list-menu" class="hide-type-list">
                <div class="s-type text-center">
                    <div class="s-type-list big">
                        <div class="anchor" style="position: absolute; left: 50%; opacity: 0;"></div>
                        <label for="type-bing"   data-id="group-a"><span>常用</span></label>
                        <label for="type-google1"  data-id="group-b"><span>搜索</span></label>
                    </div>
                </div>
            </div>

            <form action="https://www.bing.com/search?q=" method="get" target="_blank" class="super-search-fm">
                <input type="text" id="search-text" class="form-control smart-tips search-key" 
                    zhannei="" placeholder="输入关键字搜索" style="outline:0" autocomplete="off">
                <button class="submit" type="submit"><i class="iconfont icon-search"></i></button>
            </form>

            <div id="search-list" class="hide-type-list">
                <div class="search-group group-a">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" checked="checked"
                                id="type-bing"
                                value="https://www.bing.com/search?q=" 
                                data-placeholder="微软 Bing 搜索">
			    <label for="type-bing"><span class="text-muted">Bing</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-google"
                                value="https://www.google.com/search?q=" 
                                data-placeholder="谷歌搜索">
			    <label for="type-google"><span class="text-muted">Google</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-duckduckgo"
                                value="https://duckduckgo.com/?q=" 
                                data-placeholder="DuckDuckGo 搜索">
			    <label for="type-duckduckgo"><span class="text-muted">DuckDuckGo</span></label>
                        </li>
                    </ul>
                </div>
                <div class="search-group group-b">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                                id="type-google1"
                                value="https://www.google.com/search?q=" 
                                data-placeholder="谷歌搜索">
                            <label for="type-google1"><span class="text-muted">Google</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-bing1"
                                value="https://www.bing.com/search?q=" 
                                data-placeholder="微软 Bing 搜索">
                            <label for="type-bing1"><span class="text-muted">Bing</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-duckduckgo1"
                                value="https://duckduckgo.com/?q=" 
                                data-placeholder="DuckDuckGo 搜索">
                            <label for="type-duckduckgo1"><span class="text-muted">DuckDuckGo</span></label>
                        </li>
                    </ul>
                </div>
                <div class="search-group group-d" style="display: none;">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                                id="type-zhihu" 
                                value="https://www.zhihu.com/search?type=content&q=" 
                                data-placeholder="知乎">
                            <label for="type-zhihu"><span class="text-muted">知乎</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-wechat" 
                                value ="https://weixin.sogou.com/weixin?type=2&query=" 
                                data-placeholder="微信">
                            <label for="type-wechat"><span class="text-muted">微信</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                 id="type-weibo" 
                                 value="https://s.weibo.com/weibo/" 
                                 data-placeholder="微博">
                            <label for="type-weibo"><span class="text-muted">微博</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                 id="type-douban" 
                                 value="https://www.douban.com/search?q=" 
                                 data-placeholder="豆瓣">
                            <label for="type-douban"><span class="text-muted">豆瓣</span></label>
                        </li>
                    </ul>
                </div>
                <div class="search-group group-e" style="display: none;">
                </div>
                <div class="search-group group-f" style="display: none;" style="display: none;">
                </div>
            </div>
            <div class="card search-smart-tips search-hot-text">
                <ul id="word" style="display: none"></ul>
            </div>
        </div>
    </div>
    <!--div class="bulletin-big mx-3 mx-md-0">
        <div id="bulletin_box" class="card my-2">
            <div class="card-body py-1 px-2 px-md-3 d-flex flex-fill text-xs text-muted">
                <div><i class="iconfont icon-bulletin" style="line-height:25px"></i></div>
                <div class="bulletin mx-1 mx-md-2 carousel-vertical">
                    <div class="carousel slide" data-ride="carousel" data-interval="3000">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active"><a class="overflowClip_1"
                                    href="#">所长导航 - 用心精选每一个链接</a></div>
                            <div class="carousel-item "><a class="overflowClip_1"
                                    href="#">所长导航 - 有范的导航网站</a></div>
                        </div>
                    </div>
                </div>
                <div class="flex-fill"></div>
                <a title="关闭" href="javascript:;" rel="external nofollow" class="bulletin-close"
                    onclick="$('#bulletin_box').slideUp('slow');"><i class="iconfont icon-close"
                        style="line-height:25px"></i></a>
            </div>
        </div>
    </div-->
</div>
