<div class="modal fade search-modal" id="search-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div id="search" class="s-search mx-auto my-4">
                    <div id="search-list" class="hide-type-list">
                        <div class="search-group">
                            <ul class="search-type">
                                <li><input checked="checked" hidden="" type="radio" name="type2" id="m_type-google"
                                        value="https://www.google.com/search?q=" data-placeholder="Google Search">
                                    <label for="m_type-google"><span class="text-muted">Google</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-bing"
                                        value="https://www.bing.com/search?q=" data-placeholder="Microsoft Bing Search">
                                    <label for="m_type-bing"><span class="text-muted">Bing</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-duckduckgo"
                                        value="https://duckduckgo.com/?q=" data-placeholder="DuckDuckGo Search">
                                    <label for="m_type-duckduckgo"><span class="text-muted">DuckDuckGo</span></label></li>
                            </ul>
                        </div>
                    </div>
                    <form action="https://nav.iowen.cn?s=" method="get" target="_blank" class="super-search-fm">
                        <input type="text" id="m_search-text" class="form-control smart-tips search-key" zhannei=""
                                autocomplete="off" placeholder="Enter keyword to search" style="outline:0">
                        <button type="submit"><i class="iconfont icon-search"></i></button>
                    </form>
                    <div class="card search-smart-tips" style="display: none">
                        <ul></ul>
                    </div>
                </div>

                <!--div class="px-1 mb-3">
                    <i class="text-xl iconfont icon-hot mr-1" style="color:#f1404b;"></i>
                    <span class="h6">热门推荐： </span>
                </div>
                <div class="mb-3">
                    <li id="menu-item-332" class="menu-item menu-item-type-taxonomy menu-item-object-post_tag menu-item-332">
                        <a href="tag/黑洞.html">黑洞</a></li>
                    <li id="menu-item-333" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-333">
                        <a href="E5AFBCE888AAE4B8BBE9A298.html">导航主题</a></li>
                    <li id="menu-item-335" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-335">
                        <a href="E59BBEE6A087.html">图标</a></li>
                </div-->
            </div>
            <div style="position: absolute;bottom: -40px;width: 100%;text-align: center;">
                <a href="javascript:" data-dismiss="modal"><i class="iconfont icon-close-circle icon-2x" style="color: #fff;"></i></a>
            </div>
        </div>
    </div>
</div>
